<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.xs.mapper.QbRwlzMapper">
  <select id="queryByIds" resultType="org.jeecg.modules.xs.mapper.QbRwlzMapper">
		select  * from qb_rwlz where rwlzbh in
    <foreach collection="rwlzbhs" index="index" item="rwlzbh" open="(" separator="," close=")">
			#{rwlzbh}
    </foreach>
  </select>
</mapper>